.oc-logo {
  display: inline-block;
  width: 108px;
  height: 20px;
  line-height: 20px;
  background: url(assets/images/oc-power.png) no-repeat;
  text-indent: -999px;
  overflow: hidden;
}

.leaflet-sidebar {
  width: 35%;
}

.leaflet-sidebar.left {
  left: -40%;
}

.leaflet-sidebar.left.visible ~ .leaflet-left {
  left: 35%;
}